body {
    font-family: 'Arial', sans-serif;
    background-color: #fae4b4;
    opacity: 0.8;
    background-image:  repeating-radial-gradient( circle at 0 0, transparent 0, #fae4b4 24px ), repeating-linear-gradient( #ffbfef55, #ffbfef );
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

h1.title {
    color: rgb(189, 45, 102);
    text-align: center;
    cursor: default;
    font-size: 3.5em;
    font-weight: 750;
    margin-bottom: 10px;
}

h2.subtitle {
    color: #555;
    text-align: center;
    margin-bottom: 20px;
    cursor: default;
    font-size: x-large;
    margin-top: 0px;
    margin-bottom: 20px;
}

p {
    color: #555;
    text-align: center;
    margin-bottom: 30px;
}

div.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

div.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 75%;
    margin-top: 10px;
    height: fit-content;
}

a:link {
    text-decoration: none;
    color: #555;
}
a:visited{
    text-decoration: none;
    color: #666;
}
a:hover {
    text-decoration: none;
    color: #55a;
}
a:active {
    text-decoration: none;
    color: #555;
}


footer {
    font-family: 'Arial', sans-serif;
    font-weight: 300;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: small;
    background-color: rgba(245, 245, 245, 0.85);
    padding-bottom: 15px;
    padding-top: 10px;
    color: #999;
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 30px;
    table-layout: fixed;
}

thead {
    background-color: rgb(189, 45, 102);
    color: #fff;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    text-align: center;
    width: fit-content;
}

tbody tr:hover {
    background-color: #f5f5f5;
}

.fancy-button {
    border: 0;
    border-radius: 12px;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,Helvetica,Arial,sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 2.5;
    outline: transparent;
    padding: 0 1rem;
    margin-inline: 1rem;
    margin-top: 0.3rem;
    margin-bottom: 0.3rem;
    text-align: center;
    text-decoration: none;
    transition: box-shadow .2s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    white-space: nowrap;
}

.fancy-button.new {
    background: linear-gradient(to bottom right, rgb(189, 45, 102), rgb(235, 188, 128));
}
.fancy-button.new:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(189, 45, 102, 0.5), .125rem .125rem 1rem rgba(235, 188, 128, 0.5);
}

.fancy-button.last {
    background: linear-gradient(to bottom right, rgb(235, 188, 128), rgb(73, 184, 70));
}
.fancy-button.last:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(235, 188, 128, 0.5), .125rem .125rem 1rem rgba(73, 184, 70, 0.5);
}

.fancy-button.solve {
    background-color: lightgray;
    color: rgb(50, 50, 50);
}
.fancy-button.solve:not([disabled]):hover {
    box-shadow: -.125rem -.125rem 0.8rem rgba(50, 50, 50, 0.3);
}

.fancy-button.solveAll {
    background: linear-gradient(to bottom right, rgb(73, 184, 70), rgb(74, 201, 240));
}
.fancy-button.solveAll:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(73, 184, 70, 0.5), .125rem .125rem 1rem rgba(74, 201, 240, 0.5);
}

.fancy-button.reset {
    background: linear-gradient(to bottom right, rgb(74, 201, 240), rgb(145, 49, 255));
}
.fancy-button.reset:not([disabled]):hover {
    box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.5), -.125rem -.125rem 1rem rgba(74, 201, 240, 0.5), .125rem .125rem 1rem rgba(145, 49, 255, 0.5);
}

@media (max-width: 768px) {
    div.button-container {
        flex-direction: column;
        position: relative;
    }

    .fancy-button {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    /* Two columns arrangement for screens between 481px and 768px */
    @media (min-width: 481px) and (max-width: 768px) {
        div.button-container {
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }

        .fancy-button {
            flex: 0 0 calc(50% - 20px);
            margin: 10px;
        }
    }
}
